*{
    box-sizing: border-box;
}
.photoAdsStyle {
    max-width: 100px;
}
.PhotoListStyles{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    object-fit: contain;
    cursor: pointer;
}
.FrontingDeleteButton{
    position: absolute;
    opacity: 0;
    width: 87%;
    height: 40%;
    font-size: 5rem;
    z-index: 1;
    top:30%;
    color:#dc3545;
}
.FrontingDeleteButton:hover{
    opacity: 1;
    cursor: pointer;
}
.detailBg{
    background-color: #f5f5f8;
    margin: 5px;
}
.heart{
    font-size: 33px;
    cursor: pointer;
}
.heart-clicked{
    font-size: 33px;
    cursor: pointer;
    color:red;
}



