*{
    box-sizing: border-box;
}
.photoAdsStyle {
    max-width: 100px;
}
.PhotoListStyles{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    object-fit: contain;
    cursor: pointer;
}
.FrontingDeleteButton{
    position: absolute;
    opacity: 0;
    width: 87%;
    height: 40%;
    font-size: 5rem;
    top:30%;
    color:#dc3545;
}
.FrontingDeleteButton:hover{
    opacity: 1;
    cursor: pointer;
}
.detailBg{
    background-color: #f5f5f8;
    margin: 5px;
}
.heart{
    font-size: 33px;
    cursor: pointer;
}
.heart-clicked{
    font-size: 33px;
    cursor: pointer;
    color:red;
}
.SearchBar{
    font-size: 22px;
    height: 60px;
}
.SearchBar > input[type='text'], button[type='submit']{
    font-size: 22px;
    height: 60px;
}
.xd{
    width: 100vw;
}
.xdd{
    height: 150px;
}
.xd2{
    border: 4px solid black;
}
.dupa{
    position: relative;
    text-align: right;
    z-index: 1000;
    font-size: 30px;
    left: 90%;
    margin-top: -16%;
}



